:root {
  --c-0: #FFFFFF;
  --c-1: #121214;
  --c-2: #3B443C;
  --c-gw: #BEE0BF;
  --c-gg: #D4EFD5;
  --c-wg: #DFFFE1;
  --c-rd: #CD0F0F;
  --c-pu: #D824DC;
  --c-gr: #0FCD17;
  --c-py: #F8CA13;
  --c-yo: #EEAA1E;
}